.header {
  position: absolute;
  top: 2%;
  width: 100%;
  font-family: 'Dancing Script';
  font-weight: 600;
  font-size: 2.5rem;
  display: flex;
  justify-content: center;

  & .brand {
    position: absolute;
    cursor: pointer;
    left: 2%;
  }

  span {
    text-align: center;
  }
}

.container {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding-bottom: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.list {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 10% 2%;
  list-style-type: none;
  place-items: center;
  width: 100%;
  height: 30%;
  padding-left: 0;
}

.element {
  width: 100%;
  height: 100%;
  flex: 1;
  margin: 0;
  background-color: pink;
  border: 1px solid black;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
