// Global
$black-color: #000;
$white-color: #fff;

// Ableton
$ableton-grey-color: #f3f3f3;
$ableton-orange-color: #ff764d;
$ableton-blue-color: #0000ff;

// Starbucks
// Monogram
// Monstercat
// Canal Street market
// Qrates
// Backstage Talks
// Deplace Maison
// Red Square
// Nintendo
